<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="wrapper container">
        <h3 class="display-5">Are you sure you want to delete the following course?</h3>
        <p>Name: {{ this_course.name }}</p>
        <p>Description: {{ this_course.description.description }}</p>
    <div class="container">
        <a href="/" class="btn btn-primary">No</a>
        <a href="/process/{{this_course.id}}" class="btn btn-danger">Yes, I want to delete!</a>
        </form>
    </div>
    </div>
    </div>
    
</body>
</html>
