<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Detail Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="content">
        <h1>TV Show: {{ this_show.id }}</h1>
        <h2>{{ this_show.title }}</h2>
        <h4>Network: {{ this_show.network }}</h4>
        <h4>Release Date: {{ this_show.release_date }}</h4>
        <h4>Description: {{ this_show.description }}</h4>
        <br><br>
        <p>Last Updated: {{ this_show.updated_at }}</p>
        <a href="{% url 'edit' this_show.id %}">Edit</a> | <a href="{% url 'delete' this_show.id %}">Delete</a>
    </div>
    </body>
</html>