<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <h2 class="display-5">Your Leads</h2>
        </div>
        <br><hr><br>
        <div class="container">
            <form class="form_group" action="/leadsearch" method="GET" id="lead_search">
                {% csrf_token %}
                <h5>Apply Filters:</h5>
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" name="fname" id="fname">
                    <label for="lname">Last Name:</label>
                    <input type="text" name="lname" id="lname">
                    <label for="date_min">From:</label>
                    <input type="date" name="date_min" id="date_min">
                    <label for="date_max">To:</label>
                    <input type="date" name="date_max" id="date_max" value="">
                    <!-- <button type="submit" value="Search">Submit</button> -->
                </div>
            </form>
        </div>

        <div class="container" id="results">
            <div class="col p-4 m-1">
                <div class="pagination row justify-content-end" id="pages">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;</a>
                            <a href="?page/{{ page_obj.previous_page_number }}">prev</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </span>
                </div>

                
                <table class="table">
                    <th scope="col">Lead ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Created</th>
                    {% for lead in page_obj %}
                    <tr>
                        <td>{{ lead.id }}</td>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.last_name }}</td>
                        <td>{{ lead.email }}</td>
                        <td>{{ lead.created_at }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

   <script>
       // set default search dates
            //NOTES:
            //var d = new Date(2018, 11, 24, 10, 33, 30, 0); --> Y, M, D, h, m, s, ms
            //JavaScript counts months from 0 to 11: 0 = January, 11 = December

        document.getElementById('date_min').valueAsDate = new Date(2020, 0, 1);
        document.getElementById('date_max').valueAsDate = new Date();
        
       // ajax pagination
        $('#pages').on('click', 'a', function(e){
            e.preventDefault()
            $.ajax({
                url: $(this).attr('href'),
                method: 'get',
                success: function(serverResponse){
                    $('#wrapper').html(serverResponse)
                }
            })
        });
    
        // ajax search
        $(this).keyup(function(){
            var data = $('#lead_search').serialize() //capture form data
            $.ajax({
                method: 'GET',
                url: 'leadsearch',
                data: data,
            })
            .done(function(serverResponse){
                console.log(serverResponse)
                $('#results').html(serverResponse)
            });
        });


   </script>
</body>

</html>