<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add s Book</title>

</head>
<body>
    <h1>Add a Book</h1>
    <form action="/create_book" method="POST">
        {% csrf_token %}
        <p>Title: <input type="text" name="book_title"></p>
        <p>Description: <input type="text" name="book_desc"></p>
        <input type="submit" value="Add">
    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Detail Page</th>
        {% for book in all_books%}
        </tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td><a href="/books/{{ book.id }}">View</a></td>
        </tr>   
        {% endfor %}
    </table>
    
</body>
</html>